# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Data (too large for Git)
data/raw/
data/processed/
data/models/

# Env
.env

# Reports & plots
reports/

# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db